*{
    margin: 0px;
    padding: 0px;
}
body{
    overflow: hidden;
    animation: shakebody linear 4s infinite;
}
.sky{
    height: 100vh;
    width: 100%;
    /* position: absolute; */
    position: absolute;
    background: url("./background.jpg");
    background-repeat: no repeat;
}
.trees{
    height: 100vh;
    width: 100%;
    background: url("./trees.png");
    background-size: cover;
    position: absolute;
}
.track{
    height: 30vh;
    width: 800vw;
    background: url("./track.png");
    /* background-size: cover; */
    position: absolute;
    top: 70vh;
    animation: carMove linear 6s infinite;
    z-index: 0.5;
}
.car{
    height: 100px;
    width: 280px;
    background: url("./car_body.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 444px;
    bottom: 171px;
    animation: carshake linear .3s infinite;
    z-index: 1;
}
.leftwheel img{
    width: 74px;
    position: relative;
    top: 35px;
    left: 37px;
    animation: wheelRotation linear .6s infinite;
}
.rightwheel img{
    width: 72px;
    position: relative;
    top: -44px;
    left: 217px;
    animation: wheelRotation2 linear 0.6s infinite;
}
@keyframes wheelRotation{
    100%{
        transform: rotate(360deg);
    }
}
@keyframes wheelRotation2{
    100%{
        transform: rotate(360deg);
    }
}
@keyframes carMove {
    100%{
        transform: translate(-500vw);
    }
}
@keyframes carshake{
    0%{
        transform: translateY(-5px);
    }
    50%{
        transform: translateY(5px) ;
    }
    100%{
        transform: translateY(-5px);
    }
}
@keyframes shakebody{
    0%{
        transform: translateY(-40px);
    }
    50%{
        transform: translateY(40px);
    }
    100%{
        transform: translateY(-40px);
    }
}