*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #2666e6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.navbar ul img{
  height: 60px;
  width: 60px;
  position: absolute;
  display: list-item;
  top: 0px;
  opacity:0.7;
  background: transparent;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navbar{
background-color: rgb(17, 142, 224);
border-radius: 10px; 
height: 50px;
width: 100%;
position: fixed;
}
.navbar ul li{
  display: inline-block;
 
}
.navbar ul{
  overflow: auto;
  margin: 10px 10px 10px ;
  
}
.navbar li{
  float: left;
  list-style: none;
  
}
.navbar li a{
  padding: 10px 10px 10px;
  text-decoration: none;
  color: white;
  margin: 10px 10px;
  
}
.navbar li a:hover{
  color: red;
  
}
.navbar  button{
  background-color: rgb(82, 92, 226);
  color: whitesmoke;
  font-size: 20px;
  margin: -30px 7px;
  padding: 0px 19px;
  position: initial;

  float: right;
}
.navbar button:hover{
  color: #c0dd1c;
  transition:ease-out;
}
.docx{
  
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  margin: 13px 10px;
  width: 100%;
  height: 100%;
}
